@page "/sudoku"
@using WebSudoku.Shared
@using System.Linq
@inject Solver Solver
@inject Blanker Blanker
@inject Validator Validator
@inject NavigationManager Navigation
@inject IJSRuntime JS

<PageTitle>Sudoku</PageTitle>

@if (board == null)
{
    <p><em>Loading...</em></p>
}
else if (!success)
{
    <h4 class="display-var">Your time:
        <TimerDisplay OnTimePassed="Timer_OnTimePassed"/>
    </h4>
    <table class="sudoku-table" style="border-spacing: 0px; background-color: black;">
            @for (int r = 0; r < 9; r++)
            {
                <tr>
                @for (int c = 0; c < 9; c++)
                {
                    int row = r, column = c;
                    string borderRight;
                    string borderBottom;
                    string cellValue = string.Empty;
                    if (column == 2 || column == 5)
                    {
                        borderRight = "border-right: medium solid black;";
                    }
                    else
                    {
                        borderRight = string.Empty;
                    }
                    if (row == 2 || row == 5)
                    {
                        borderBottom = "border-bottom: medium solid black;";
                    }
                    else
                    {
                        borderBottom = string.Empty;
                    }
                    if (board.Cells[row, column] != 0)
                    {
                        cellValue = board.Cells[row, column].ToString();
                    }
                    <td style="@borderRight @borderBottom">
                        <Cell IsMobileDevice="@IsMobile" ReadOnly="board.Predefined[row, column]" Value="@cellValue" OnValueChanged="(args) => OnCellChanged(row, column, args)"></Cell>
                    </td>
                }
                </tr>
            }
    </table>
}
else
{
    <h1>Success</h1>
    <p>You finished with time @timePassed.</p>
    <button class="btn btn-primary" onclick="@(() => Navigation.NavigateTo("/WebSudoku/sudoku", forceLoad: true))">Play again</button>
}

@code {
    private Board board = new Board();

    private int emptyCells = 0;

    private bool success = false;

    private TimeSpan timePassed = TimeSpan.FromSeconds(0);

    private bool IsMobile = false;

    protected void Timer_OnTimePassed(TimeSpan time)
    {
        if (!success)
        {
            timePassed = time;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            IsMobile = await JS.InvokeAsync<bool>("isMobileDevice");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        CreateNewBoard();
    }

    protected void CreateNewBoard()
    {
        Board newBoard = new Board();
        newBoard.Cells = Solver.Solve(newBoard.Cells, OptionOrder.Random);
        for (int i = 0; i < 9; i++)
        {
            for (int j = 0; j < 9; j++)
            {
                newBoard.Predefined[i, j] = true;
            }
        }
        Blanker.MakeBlanks(newBoard, 35);

        foreach (var value in newBoard.Cells)
        {
            if (value == 0)
            {
                emptyCells++;
            }
        }

        board = newBoard;
    }

    protected void OnCellChanged(int row, int column, ChangeEventArgs args)
    {
        var value = args.Value;
        if (value is string s && int.TryParse(s, out int number) && number >= 1 && number <= 9)
        {
            if (board.Cells[row, column] == 0)
            {
                emptyCells--;
            }
            board.Cells[row, column] = number;
        }
        else
        {
            if (board.Cells[row, column] != 0)
            {
                emptyCells++;
            }
            board.Cells[row, column] = 0;
        }

        if (emptyCells == 0)
        {
            if (Validator.IsValidBoard(board))
            {
                success = true;
            }
        }
    }
}
